{% extends 'base.html' %}

{% load static %}

{% block title %} Kameror {% endblock %}

{% block content %}

<main role="main">
    <div class="main-div">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Historik</h1>
                <p>Här är en komplett lista över alla de larm som systemet har registrerat. Du kan själv välja vad du vill
                    göra med dem. Du har möjlighet att både ta bort larmet, spara det eller ladda ner en videofil om så önskar.
                </p>
                <div class="camera-actions-box">
                    <div class="camera-actions-button-box">
                        <p><a class="btn btn-info btn-lg" href="{% url 'home' view='off'%}" role="button">Lägg till &raquo;</a></p>
                    </div>
                    <div class="camera-actions-button-box-right">
                        {% if view == "off" %}
                            <p><a class="btn btn-info btn-lg" href="{% url 'home' view='off'%}" role="button">Starta &raquo;</a></p>
                        {% else %}
                            <p><a class="btn btn-secondary btn-lg" href="{% url 'home' view='off'%}" role="button">Stoppa &raquo;</a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="alarm-main-box">
                    <div class="row gx-5" id="alarm-content-header">
                        <div class="alarm-header-left"><h3>Kamera</h3></div>
                        <div class="alarm-header-center"><h3>Nivå</h3></div>
                        <div class="alarm-header-center"><h3>Sannolikhet</h3></div>
                        <div class="alarm-header-center"><h3>Antal bilder</h3></div>
                        <div class="alarm-header-right"><h3>Alternativ</h3></div>
                    </div>
                    <div class="alarm-sub-box">
                        <div class="row gx-5" id="alarm-content-row">
                            <div class="alarm-name">
                                <p><b>Kamera parkering</b></p>
                            </div>
                            <div class="alarm-status">
                                <p>Nivå 3</p>
                            </div>
                            <div class="alarm-status">
                                <p>96 %</p>
                            </div> 
                            <div class="alarm-status">
                                <p>71</p>
                            </div> 
                            <div class="alarm-buttons">
                                <div class="alarm-buttons-button">
                                    <p><a class="btn btn-success btn-lg" href="{% url 'home' view='off'%}" role="button"><i class="material-icons">&#xe872;</i></a></p>
                               </div>                                
                                <div class="alarm-buttons-button">
                                    <p><a class="btn btn-success btn-lg" href="{% url 'home' view='off'%}" role="button"><i class="fa fa-download"></i></a></p>
                                </div>
                                <div class="alarm-buttons-button">
                                    <p><a class="btn btn-success btn-lg" href="{% url 'home' view='off'%}" role="button">Visa &raquo;</a></p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock content %}

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>