{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Logga in</h1>
            <p>Logga in för att se dina investeringar.</p>
        </div>
        <div class="row gx-5" id="login-content-row">
            <div class="col-login">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit">Logga in</button>
                </form>
            </div>
        </div>
    </div>
</main>



{% endblock %}